@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


body {
  font-family: "Monument";
  font-size: 80px;
  line-height: 70px;
  background: #70b8ff;
  overflow: hidden;
}

.container {
  position: relative;
  height: 70px;
  overflow: hidden;
  outline: 1px transparent;
}

ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  white-space: nowrap;
}

.menu {
  color: transparent;
  -webkit-text-stroke: 1px black;
}